@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

html, body {
    height: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Other styles remain unchanged */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures it takes the full height */
}

.protected-route, .login-page, .register-page {
    flex: 1; /* Allow content to grow and fill the available space */
}
